<div class="fixed inset-0 flex items-center justify-center file-download-overlay z-50">
  <div class="file-download-popup p-8 rounded-lg shadow-lg w-full max-w-lg relative">
    <!-- Close button -->
    <button (click)="onClose()"
      class="close-btn absolute top-4 right-4 text-2xl font-bold focus:outline-none"
      aria-label="Zavřít">
      &times;
    </button>
    <h2 class="text-center text-2xl font-semibold mb-6 primary-text">Soubory ke stažení</h2>
    <div class="relative border-2 rounded-lg flex flex-col overflow-y-auto max-h-64 border-dashed file-list-border">
      <div class="p-6">
        <ul class="w-full mt-0 file-list-bg">
          <li
            *ngFor="let file of files"
            class="flex justify-between items-center file-list-item px-4 py-2 rounded-md mb-2 relative group overflow-hidden"
          >
            <span class="truncate primary-text">{{ file.name }}</span>
            <span class="text-sm secondary-text">{{ formatFileSize(file.size) }}</span>
            <!-- Download button -->
            <button
              class="download-btn absolute right-0 top-0 h-full w-12 font-bold text-lg flex items-center justify-center transform translate-x-full group-hover:translate-x-0 transition-transform duration-300 ease-in-out"
              (click)="downloadFile(file)"
              title="Stáhnout"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v2a2 2 0 002 2h12a2 2 0 002-2v-2M7 10l5 5m0 0l5-5m-5 5V4" />
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
