<div class="profile-picture-circled profile-picture-bg">
  <ng-container *ngIf="picture; else avatar">
    <img [src]="picture" alt="profile picture" class="profile-img" />
  </ng-container>
  <ng-template #avatar>
    <div class="profile-avatar">
      <svg class="avatar-svg avatar-gradient-bg avatar-icon-color" viewBox="0 0 24 24">
        <path fill="currentColor" d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
      </svg>
    </div>
  </ng-template>
</div>
