<div
  #reactionsContainer
  *ngIf="reactionsvisible"
  class="reaction-counter-container"
  [class.active]="showAllReactions"
  (mouseenter)="onMouseEnter($event)"
  (mouseleave)="onMouseLeave()"
  (click)="handleClick($event)"
>
  <ng-container *ngFor="let reaction of reactions; let i = index">
    <span
      class="reaction-emoji"
      [class.new-reaction]="i === newReactionIndex"
      (click)="onEmojiClick(reaction.emoji, $event)"
      (mouseenter)="onEmojiMouseEnter(i, $event)"
      (mousemove)="onEmojiMouseMove($event)"
      (mouseleave)="onEmojiMouseLeave()"
      style="position: relative;"
    >
      {{ reaction.emoji }}
    </span>
  </ng-container>
  <span
    *ngIf="hoveredEmojiIndex !== null && placeholderPosition && reactions[hoveredEmojiIndex]?.emoji !== '...'"
    class="reaction-placeholder reaction-placeholder-absolute"
    [ngStyle]="{
      left: relativePlaceholderLeft + 'px',
      top: relativePlaceholderTop + 'px'
    }"
  >
    {{ reactions[hoveredEmojiIndex]?.count }}x
  </span>
</div>

<div
  #allReactionsPopup
  class="all-reactions-popup"
  [class.show]="showAllReactions"
  *ngIf="showAllReactions"
  (mouseenter)="onPopupMouseEnter()"
  (mouseleave)="onPopupMouseLeave()"
>
  <ng-container *ngFor="let reaction of allReactions; let i = index">
    <span
      class="all-reaction-emoji"
      (click)="onAllReactionClick(reaction.emoji, $event)"
      (mouseenter)="onAllReactionMouseEnter(i, $event)"
      (mousemove)="onAllReactionMouseMove($event)"
      (mouseleave)="onAllReactionMouseLeave()"
      style="position: relative;"
    >
      {{ reaction.emoji }}
    </span>
  </ng-container>
  <span
    *ngIf="allReactionsHoveredIndex !== null && allReactionsPlaceholderPosition"
    class="reaction-placeholder reaction-placeholder-absolute"
    [ngStyle]="{
      left: allReactionsRelativeLeft + 'px',
      top: allReactionsRelativeTop + 'px'
    }"
  >
    {{ allReactions[allReactionsHoveredIndex]?.count }}x
  </span>
</div>
