<svg xmlns="http://www.w3.org/2000/svg" class="w-full h-[100vh]" xmlns:bx="https://boxy-svg.com">
  <defs>
    <linearGradient id="gradient-1" bx:pinned="true">
      <stop offset="0" style="stop-color: rgb(58, 56, 42);"/>
      <stop offset="0.2" style="stop-color: rgb(30, 43, 60);"/>
      <stop offset="0.4" style="stop-color: rgb(32, 32, 94);"/>
      <stop offset="0.6" style="stop-color: rgb(21, 0, 71);"/>
      <stop offset="0.8" style="stop-color: rgb(0, 0, 109);"/>
      <stop offset="1" style=""/>
    </linearGradient>
    <linearGradient id="gradient-1-1" href="#gradient-1" gradientUnits="userSpaceOnUse" x1="288.843" y1="-488.308" x2="288.843" y2="1129.19" gradientTransform="matrix(2.60764, -3.48963, 4.19493, 3.13469, -40.820098, 1164.220049)"/>
    <pattern x="0" y="0" width="25" height="25" patternUnits="userSpaceOnUse" viewBox="0 0 100 100" id="pattern-0">
      <rect x="0" y="0" width="50" height="100" style="fill: black;"/>
    </pattern>
    <pattern id="pattern-0-0" href="#pattern-0" patternTransform="matrix(3.94569, 0, 0, 3.94569, 1870.580264, 1030.659902)"/>
    <pattern id="pattern-1" href="#pattern-0" patternTransform="matrix(3.94569, 0, 0, 3.94569, 1870.520059, 1030.669883)"/>
    <linearGradient id="gradient-0" x1="288.843" x2="288.843" y1="-488.308" y2="1129.19" gradientUnits="userSpaceOnUse" gradientTransform="matrix(2.60764, -3.48963, 4.19492, 3.13466, -1679.595246, 247.96917)" spreadMethod="reflect">
      <stop offset="0" style="stop-color: rgb(32, 32, 32);"/>
      <stop offset="0.2" style="stop-color: rgb(11, 117, 129);"/>
      <stop offset="0.4" style="stop-color: rgb(211, 179, 0);"/>
      <stop offset="0.6" style="stop-color: rgb(114, 116, 1);"/>
      <stop offset="0.8" style="stop-color: rgb(0, 214, 64);"/>
      <stop offset="1" style=""/>
    </linearGradient>
    <view id="view-1" viewBox="840 -840 2160 3840">
      <title>View 1</title>
    </view>
  </defs>
  <ellipse style="fill: url(&quot;#gradient-1-1&quot;); transform-box: fill-box; transform-origin: 50% 50%;" cx="1920" cy="1080" rx="3523.13" ry="3523.13">
    <animateTransform type="rotate" additive="sum" attributeName="transform" values="0;360" begin="0s" dur="12s" fill="freeze" repeatCount="indefinite" keyTimes="0; 1"/>
  </ellipse>
  <ellipse style="fill: url(&quot;#pattern-0-0&quot;); fill-opacity: 0.07; transform-box: fill-box; transform-origin: 50% 50%;" cx="1920" cy="1080" rx="3558.48" ry="3558.48">
    <animateTransform type="rotate" additive="sum" attributeName="transform" values="0;-360" begin="0s" dur="64s" fill="freeze" keyTimes="0; 1" repeatCount="indefinite"/>
  </ellipse>
  <ellipse style="fill: url(&quot;#pattern-1&quot;); fill-opacity: 0.07; transform-origin: 1919.87px 1079.99px;" cx="1920" cy="1080" rx="3558.48" ry="3558.48">
    <animateTransform type="rotate" additive="sum" attributeName="transform" values="0;360" dur="48s" fill="freeze" keyTimes="0; 1" repeatCount="indefinite"/>
  </ellipse>
  <ellipse style="fill-opacity: 0.21; fill: url(&quot;#gradient-0&quot;); transform-origin: 281.108px 163.717px;" cx="281.085" cy="163.698" rx="3523.13" ry="3523.13" transform="matrix(-0.851761, 0.52393, -0.52393, -0.851761, 1638.85917, 916.276403)">
    <animateTransform type="rotate" additive="sum" attributeName="transform" values="0;-360" begin="0s" dur="10s" fill="freeze" repeatCount="indefinite" keyTimes="0; 1"/>
  </ellipse>
</svg>