<div class="change-password-overlay">
  <div class="change-password-card">
    <div class="logo-corner">
      <app-icon></app-icon>
    </div>
    <h2>Change Password</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="oldPassword">Old Password</label>
        <input id="oldPassword" formControlName="oldPassword" type="password" />
      </div>
      <div>
        <label for="newPassword">New Password</label>
        <input id="newPassword" formControlName="newPassword" type="password" />
      </div>
      <div>
        <label for="confirmNewPassword">Confirm New Password</label>
        <input id="confirmNewPassword" formControlName="confirmNewPassword" type="password" />
      </div>
      <button type="submit">Change Password</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
</div>
