.adresator-bg {
  background: var(--adresator-bg);
}

.adresator-placeholder {
  background: var(--adresator-placeholder);
}

.adresator-icon {
  color: var(--adresator-icon);
}

.adresator-avatar-bg {
  background: var(--adresator-avatar-bg);
}

.adresator-text {
  color: var(--adresator-text);
}

.adresator-avatar-icon {
  color: var(--adresator-text);
}
