.sender-bg {
  background: var(--sender-bg);
}

.sender-placeholder {
  background: var(--sender-placeholder);
}

.sender-icon {
  color: var(--sender-icon);
}

.sender-icon-read {
  color: var(--sender-icon-read);
}

.sender-text {
  color: var(--sender-text);
}
