:host {
  display: block;
  position: relative;
}

div {
  position: relative;
}

.absolute {
  position: absolute;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.pop-up-container {
  animation: slideIn 0.3s ease-in-out forwards; // Apply the "in" animation
}

.w-full {
  width: 100%;
}

.h-1 {
  height: 4px; /* Adjust height as needed */
}


