:host {
  display: block;
  position: relative;
}

div {
  position: relative;
}

.absolute {
  position: absolute;
}





.w-full {
  width: 100%;
}

.h-1 {
  height: 4px; /* Adjust height as needed */
}


