<app-input-ui class="fixed bottom-0 left-0 right-0 p-4 z-999"></app-input-ui>

<div class="relative z-0 mt-24 mb-48 flex justify-center"> <!-- Center the main container -->
  <div class="w-[65vw] space-y-3"> <!-- Fixed width for the main container -->
    <div *ngFor="let message of messages; let i = index" 
         [ngClass]="{'flex justify-end': message.isSender, 'flex justify-start': !message.isSender}">
      <ng-container *ngIf="message.isSender; else adresatorTemplate">
        <app-message
          [text]="message.text"
          [time]="message.time"
          [status]="message.status"
          [previewText]="message.previewText"
          [hasFile]="message.hasFile"
          [timeStamp]="message.timeStamp"
          [onDeleteMessage]="onDeleteMessage.bind(this, i)">
        </app-message>
      </ng-container>
      <ng-template #adresatorTemplate>
        <app-message-adresator
          [text]="message.text"
          [time]="message.time"
          [onDeleteMessage]="onDeleteMessage.bind(this, i)">
        </app-message-adresator>
      </ng-template>
    </div>
  </div>
</div>

<app-chat-menu-ui class="z-9999"></app-chat-menu-ui>
<app-menu-ui></app-menu-ui>
<router-outlet></router-outlet>