<div class="relative z-0 mt-24 mb-48 flex justify-center"> <!-- Center the main container -->
  <div class="w-[65vw] space-y-3"> <!-- Fixed width for the main container -->
    <div *ngIf="dummyVisible">
      <app-dummy-message-adresator></app-dummy-message-adresator>
      <app-dummy-message-sender></app-dummy-message-sender>
      <app-dummy-message-adresator></app-dummy-message-adresator>
      <app-dummy-message-sender></app-dummy-message-sender>
      <app-dummy-message-sender></app-dummy-message-sender>
      <app-dummy-message-adresator></app-dummy-message-adresator>
      <app-dummy-message-adresator></app-dummy-message-adresator>
      <app-dummy-message-adresator></app-dummy-message-adresator>
      <app-dummy-message-sender></app-dummy-message-sender>
      <app-dummy-message-adresator></app-dummy-message-adresator>
      <app-dummy-message-sender></app-dummy-message-sender>
      <app-dummy-message-adresator></app-dummy-message-adresator>
      <app-dummy-message-sender></app-dummy-message-sender>
      <app-dummy-message-sender></app-dummy-message-sender>
      <app-dummy-message-adresator></app-dummy-message-adresator>
      <app-dummy-message-adresator></app-dummy-message-adresator>
      <app-dummy-message-adresator></app-dummy-message-adresator>
      <app-dummy-message-sender></app-dummy-message-sender>
    </div>
    
<!-- V REACTION DATA BUDE MUSET BÝT "message.reactionsData" ZATÍM TAM BUDE NULL -->
    <div *ngFor="let message of messages; let i = index" 
         [ngClass]="{'flex justify-end': message.isSender, 'flex justify-start': !message.isSender}">
      <ng-container *ngIf="message.isSender; else adresatorTemplate">
        <app-message
          [text]="message.text"
          [time]="message.time"
          [status]="message.status"
          [previewText]="message.previewText"
          [hasFile]="message.hasFile"
          [timeStamp]="message.timeStamp"
          [onDeleteMessage]="onDeleteMessage.bind(this, i)"
          [reactionsData]="''"
          [raw]="message.raw">
        </app-message>
      </ng-container>
      <ng-template #adresatorTemplate>
        <app-message-adresator
          [text]="message.text"
          [time]="message.time"
          [onDeleteMessage]="onDeleteMessage.bind(this, i)"
          [reactionsData]="''"
          [raw]="message.raw"
          [adresatorPicture]="message.senderPicture">
        </app-message-adresator>
      </ng-template>
      <!-- Přidejte tuto podmínku pro prázdný chat -->
    
    </div>
    <div *ngIf="!dummyVisible && messages.length === 0" class="flex justify-center absolute items-center h-40 text-gray-400 text-lg font-medium">
      Zatím zde nejsou žádné zprávy. Napište třeba "{{ suggestedMessage }}"
    </div>
  </div>
</div>


<router-outlet></router-outlet>

<app-file-download *ngIf="showFileDownloadPopup" (close)="fileDownloadPopupService.close()"></app-file-download>

